

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.whatsapp-icon {
  width: 60px;
  height: 60px;
  bottom: 80px;
  right: 25px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.floating-whatsapp-icon {
  position: fixed;

  width: 60px;
  height: 60px;
  bottom: 80px;
  right: 35px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
}

.floating-whatsapp-icon a {
  display: block; /* Ensures the icon takes up space */
}

.floating-whatsapp-icon i {
  font-size: 32px;
  color: green;
}

/* Add animation here if needed */

.my-float {
  margin-top: 16px;
}
.social-icons {
  display: flex;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between icons */
}

.social-icons i {
  font-size: 14px; 
  border: 2px solid white; 
  border-radius: 50%; 
  padding: 6px; 
  width: 26px; 
  height: 26px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white!important;
}
.sticker{
  position: absolute;
  left: 10%;
  bottom: 260px;
}
.sticker-shish{
  position: absolute;
  left: 120px;
  bottom: 270px;
}
.pouch{
  position: absolute;
  right: 210px;
  bottom: 20%;
}
.pouch-width{
  width: 80%;
}
.sticker-width{
  width: 83%;

}
.content-pizza{
  position: absolute;
  right:50px ;
  bottom:-91px ;
}

.content-chaddar{
  position: absolute;
  right:-28px ;
  bottom:-91px ;
}
.content{
  position: absolute;
  right:72px ;
  bottom:-91px ;
}
.content-bus{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.content-width{  
  width: 90%;
}
.height-main{
  height: 100vh;
}
.sticker-barbucue{
  position: absolute;
  left: -10px;
  bottom: 210px;
}
.contact{
  position: absolute;
  left: 0px;
  right:0px;
  top: -35%;
}
.about-box{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 210px;
}
.ring-width{
  width: 80%;
}
.pizza1-width{
  width: 59%;
}
.pasta-width{
  width: 100%;
}
.contact-content{
  width: 21%;
}
.testimonial-content{
  width: 45%;
}
.testimonial-width{
  width: 45%;
  display: flex;
  margin: auto;
}
.about-width{
  width: 23%;
}
.dropdown-container:hover .dropdown-menu {
  display: block;
}
.height-about{
height: 18vh;
}
.top-about{
  position:absolute;
              top:-580px;
              left:0px;
              right:0px;
            }
@media only screen and (max-width: 600px) {
  .floating-whatsapp-icon {
    bottom: 120px;
  }
  .pouch{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 15%;
  }
  .sticker{
    position: absolute;
    top: -37%;
    left: 0px;
    bottom: 0px;
  }
  .sticker-shish{
    position: absolute;
    top: -170px;
    left: 0px;
    bottom: 0px;
  }
  .sticker-barbucue{
    position: absolute;
    top: -170px;
    left: 0px;
    bottom: 0px;
  }
  .about-box{
    position: absolute;
    left: 0px;
    right: 0px;
    top: -170px;
    }
  .pouch-width{
    width: 220px;
  }
  .sticker-width{
    width: 70%;
  }
  .ring-width{
    width: 40%;
  }
  .content{
    position: absolute;
    right:0px ;
    top: 30%;
  }
  .content-width{
    width: 60%;
  }
  .height-main{
    height: 90vh;
  }
  .content-pizza{
    position: absolute;
    right:0px ;
    top:31% ;
  }
  .content-chaddar{
    position: absolute;
    right:0px ;
    top:33% ;
  }
  .pizza1-width{
    width: 29%;
  }
  .pasta-width{
    width: 50%;
  }
  .shish-width{
    width: 50%;
  }
  .footer-height{
    height: 10vh;
  }
  .contact-content{
    width: 50%;
  }
  .testimonial-content{
    width: 67%;
  }
  .about-width{
    width: 45%;
  }
  .contact{
    position: absolute;
    left: 0px;
    right:0px;
    top: -43%;
  }
  .testimonial-width{
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1359px) {
  .pouch{
    position: absolute;
    right: 210px;
    bottom: 30%;
  }
  .sticker{
    position: absolute;
    left: 0%;
    bottom: 54%;
  }
  .sticker-barbucue {
    position: absolute;
    left: 62px;
    bottom: 73%;
}
.sticker-shish {
  position: absolute;
  left: 120px;
  bottom: 65%;
}
.pouch-width{
  width: 60%;
}
.sticker-width{
  width: 63%;

}
.sticker-barbucue{
  position: absolute;
  left: 0%;
  bottom: 63%;
}
.content{
  position: absolute;
  right:0% ;
  bottom:-91px ;
}
.content-width{  
  width: 70%;
}
.sticker-shish {
  position: absolute;
  left: 0%;
  bottom: 63%;
}
.ring-width{
  width: 50%;
}
.pizza1-width{
  width: 9%;
}
.pasta-width{
  width: 60%;
}
.shish-width{
  width: 30%;
}
.height-about{
  height: 30vh;
  }
  .top-about{
  position:absolute;
              top:-580px;
              left:0px;
              right:0px;
            }
}